.page-container {
  position: absolute;
  bottom: 10vh;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 90vh;
}


.discord-page {
  display: flex;
  height: 100%;
}

.discord-button {
  height: 6vh;
  width: auto;
}
