.discord-container {
  position: absolute;
  bottom: 10vh;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 90vh;
}

.page-container {
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 90vh;
}

.discord-page {
  display: flex;
  height: 100%;
  z-index: 2;
}

.page-close-btn {
  display: flex;
  height: 3vh;
  right: 0;
  width: auto;
}

.discord-button {
  height: 6vh;
  width: auto;
}
