body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.taskbar-container {
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 1vh 0;
  /* need to crop bar to be correct sizing */
  background: url("../../public/assets/taskbar/empty-taskbar-test.png");
}

/* .notes-button-container:hover {
  background-color: grey;
} */

.window-container {
  display: flex;
  justify-content: right;
  height: 90vh;
}

.notes-background {
  display: flex;
  padding: 3vh 2vw;
  height: 81vh;
}

.hidden {
  display: none;
}

.notes-button {
  height: 6vh;
}

.notes-close-container {
  translate: -175% -1410%;
}

.notes-close-btn {
  height: 4vh;
  /* translate: -320% -1965%; */
}

.notes-prev-container {
  display: flex;
  translate: 21.5% -516%;
  height: 14vh;
  width: 13vw;
}

.notes-thumbnail-btn {
  height: 4.8vh;
  width: 12.5vw;
}